body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('assets/circuito4.gif');
    background-size: 682px;
    background-color: rgb(3, 7, 16);
    color: rgb(143, 196, 236);
    font-size: 50px;
    margin: 0;
}

.imgcontainer {
    margin-inline: auto;
    max-width: 760px;
}

.container {
    margin-inline: auto;
    max-width: 1400px;
    background-image: url('assets/containerbackground3.png');
    background-position: center;
    background-size: 100%;
}

.mainBanner, .w-100 {
    width: 80%;
    padding-left: 11%;
}

.menu {
    text-align: center;
    padding: 20px;
}

.menu a {
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.btn {
    background-color: rgb(20, 233, 13);
    border-radius: 25px;
    border: 10px solid rgb(217, 245, 255);
    color: rgb(222, 246, 255);
    display: block;
    place-items: center;
    margin-bottom: 15%;
    margin-left: 34%;
    padding: 40px;
    text-decoration: none;
    width: 25%;
    text-align: center;
}

.footer {
    background-color: rgb(17, 22, 23);
    color: rgb(65, 199, 236);
    text-align: center;
    padding: 35px;
    font-size: 40px;
}

.footer a {
    color: rgb(77, 205, 214);
    text-decoration: none;
    font-size: 40px;
}

a {
    text-decoration: none;
    color: aquamarine;
}

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: #1d1d1d;
    width: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #5b5b5b;
    border-radius: 5px;
}

.escrita {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgb(143, 196, 236);
    animation: escrita 1.50s steps(10, end), blink-caret 0.75s step-end infinite;
    display: inline-block;
    text-align: center;
}

@keyframes escrita {
    from { width: 0; }
    to { width: 20%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(143, 196, 236); }
}

.img2 {
    padding-left: 10%;
}

.img3 {
    width: 80%;
    padding-left: 9.8%;
}

.textPadding {
    padding-left: 25%;
}

.textPadding2 {
    padding-left: 15%;
}

.center {
    text-align: center;
}